project-rag/n8n/workflow/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "2c97265f-1c20-42d6-9393-de3e6b3fc541",
      "name": "Telegram Trigger",
      "webhookId": "33cafb4e-acea-448c-ba63-597b0f57e4df",
      "credentials": {
        "telegramApi": {
          "id": "rg0scTPtYHBGuGjQ",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Kamu adalah asisten AI yang ramah dan santai. \nGunakan bahasa yang mudah dimengerti dan tidak terlalu formal. \nJawab pertanyaan dengan jelas, singkat, dan langsung ke inti. \nBerikan solusi praktis yang mudah dilakukan pengguna. \nJika kamu tidak tahu jawabannya, katakan dengan jujur dan tawarkan alternatif."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "51c2de53-19b4-4b11-9b7f-19c4d480baf4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "59f36c0a-8c14-4cc7-8cba-023d86e2776d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "6PxCjUxvjKNcK7qe",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        16
      ],
      "id": "7ffc0c3b-e244-4c0b-9d52-37fafd785e8c",
      "name": "Send a text message",
      "webhookId": "18ae4c31-4cea-41a4-8a8f-ca3e7f439a17",
      "credentials": {
        "telegramApi": {
          "id": "rg0scTPtYHBGuGjQ",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "8757c10a-4fd6-4bed-a629-79852698e431",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "89b69ede-3477-49e3-8ee3-abd40aad9f01",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d0b05e0e3be1a1b84fbd4f9eec0e4b6f08b1920485b8b4ce6a4800796acffaaa"
  },
  "id": "bLNDJPS7UR2PPCN4",
  "tags": []
}